@model IEnumerable<ResumehMaker.Models.InformacaoLogin>

@{
    ViewData["Title"] = "Minhas Informações de Login";
}


    <div class="tabelaLogins container">

        <h1>Minhas Informações de Login</h1>
        <br />

        <a class="btn btn-small green darken-4" asp-controller="InformacoesLogin" asp-action="DownloadDados">Exportar para CSV</a>
        <div class="informacoesTabela">
            <table class="table striped highlight centered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EnderecoIP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Data)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Horario)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnderecoIP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Horario)
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>